/* Descktop */
header {
    position: relative;
    background: pink;
    max-width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    background: bisque;
    width: 100px; height: 35px;
}
header h1 a {}
header h1 a img {
    width: 100%;
}
header nav {
    background: sandybrown;
}
header nav ul {
    display: flex;
    flex-flow: row nowrap;
}
header nav ul li {
    margin-right: 20px;
}
header nav ul li:last-child {margin-right: 0;}
header nav ul li a {
    font-size: 1.333rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}
header nav .m_nav_open {display: none;}header .m_nav_open {
    background: rgb(165, 255, 255);
    position: absolute;
    display: none; top: 100px;
    width: calc(100% - 30px);
    padding: 43px 0;
    -webkit-column-width: 100%;
}
header .m_nav_open #close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 24px;
}
header .m_nav_open ul {
    text-align: center;
}
header .m_nav_open ul li {
    margin-bottom: 30px;
}
header .m_nav_open ul li a {font-size: 1.333rem;}
/* main */
main {}
/* main-1. swiper-slide */
/* swiper 플그링ㄴ의 정식명칭 클래스는 웹 페이지 1장에서 swiper가 2개 이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스를 사용해서 선택자를 만들고 디자인한다. */
/* swiper-slide 반응형 설계를 할 경우 */
/* swiper-slide 자체가 가변형 기능을 내장하고 있기 때문에 가장바깥쪽 swiper영역을 기준으로 가변크기를 넣어주면 자동으로 반응형에 맞춰지는 슬라이드가 완성된다. */
main #pawin_slide {
    max-width: 1160px; height: 650px;
    background: rgb(240, 188, 125);
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {
    font-size: 3rem;
}
main #pawin_slide .swiper-wrapper .slide1 {
    background: url(../images/pawin_slide_desktop.jpg) center;
}
main #pawin_slide .swiper-wrapper .slide2 {
    background: url("https://picsum.photos/id/11/1160");
}
main #pawin_slide .swiper-wrapper .slide3 {
    background: url("https://picsum.photos/id/12/1160");
}
main #pawin_slide .swiper-wrapper .slide4 {
    background: url("https://picsum.photos/id/13/1160");
}
/* 2 */
#bin_slide {
    width: 1160px; height: 300px;
    background-color: lemonchiffon;
}
#bin_slide .swiper-wrapper {}
#bin_slide .swiper-wrapper .swiper-slide {
    color: #fff;
    font-size: 4rem;
}
#bin_slide .swiper-wrapper .slide1 {
    background: url("https://picsum.photos/id/1/1160");
}
#bin_slide .swiper-wrapper .slide2 {
    background: url("https://picsum.photos/id/2/1160");
}
#bin_slide .swiper-wrapper .slide3 {
    background: url("https://picsum.photos/id/3/1160");
}
main #bin_slide .swiper-button-prev {
    background: url(../images/left2\ arrow.png) no-repeat;
    left: 20px;
}
main #bin_slide .swiper-button-next {
    background: url(../images/right2\ arrow.png) no-repeat;
    right: 20px;
}
/* swiper-slide prev, next 기본 css(position:absolute)내장 */
/* 위치를 움직이고 싶다면 position속성 추가작성없이 방향값추가 */
main #bin_slide .swiper-button-prev,
main #bin_slide .swiper-button-next {
    width: 40px; height: 40px;
}
main #bin_slide .swiper-button-prev::after,
main #bin_slide .swiper-button-next::after {
    display: none;
}






main #pawin_slide .swiper-button-prev {
    background: url(../images/left_button.png);
}
main #pawin_slide .swiper-button-next {
    background: url(../images/right_button.png);
}
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next {
    width: 40px; height: 40px;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전, 다음 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {
    display: none;
}